html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #1f2937;
}

h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 38px;
  /* identical to box height, or 173% */
  text-align: center;
  letter-spacing: -0.05em;
  color: #ffffff;
}

input {
  margin: 40px 110px;
  width: 211px;
  height: 51.23px;
  left: 169px;
  top: 155px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 24px;
  /* or 25% */
  text-align: center;
  color: black;
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  line-height: 1.5em;
  font-size: 30px;
  color: aqua;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  line-height: 1.5em;
  font-size: 30px;
  color: aqua;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 1.5em;
  font-size: 30px;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  line-height: 1.5em;
  font-size: 30px;
}

span {
  font-size: 20px;
}

.col-1 {
  background: linear-gradient(246.26deg, #585dfe 0%, #fb3796 100%);
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0;
  margin-top: 0;
}

.col-2 {
  background: #1f2937;
  margin-top: 0;
  color: aliceblue;
}

